@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

:root {
  --accent-color: #ef6c08;
  --background-one: #0f1318;
  --background-two: #404352;
}

.accent-color-text {
  color: var(--accent-color);
}

.App {
  text-align: center;
  background-image: linear-gradient(to bottom right, var(--background-one), var(--background-two));
  min-height: 100vh;
  font-family: 'DM Serif Display', serif;
  padding-bottom: 5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#mobile-only {
  display: none;
}

@media screen and (max-width: 1000px) {
  #computer-only {
    display: none;
  }

  #mobile-only {
    display: block;
  }
}

